{% extends "../sub_base.html" %}
{% block title %}Đăng kí{% endblock %}
{% block sub_content %}

<form class="account-form" action="." method="post">
  {% csrf_token %}
  <h3 class="mb-2">Tạo tài khoản</h3>
  <p class="mb-4">Chỉ mất 1 phút.</p>

  {% if form.errors %}
  <p>Xin hãy sửa các lỗi sau:</p>
  {% for field in form %}
  {% if field.errors %}
  <div class="alert alert-primary" role="alert">
    {{ field.label }}: {{ field.errors|striptags }}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  <label>{{ form.user_name.label }}<span class="text-muted small">
      (Cần thiết)</span></label>
  {{ form.user_name }}
  <label>{{ form.email.label}}<span class="text-muted small">
      (Cần thiết)</span></label>
  {{ form.email }}
  <label>{{ form.password.label}}<span class="text-muted mb-4">
    </span></label>
  <small class="form-text text-muted mb-4 small">
    Ít nhất 8 kí tự và 1 chữ số
  </small>
  {{ form.password }}
  <label>{{ form.password2.label}}<span class="text-muted small">
      (Cần thiết)</span></label>
  {{ form.password2 }}
  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Đăng kí</button>
  <p class="text-center">
    <a href="{% url "account:login" %}">Đã có tài khoản?</a>
  </p>
</form>

{% endblock %}