{% extends "../sub_base.html" %}
{% block title %}Xác nhận đặt lại mật khẩu{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<form class="login-form" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-4 font-weight-bold">Thay mật khẩu</h1>
    <p>Điền vào bảng dưới đây.</p>

    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Xin thử lại!
    </div>
    {% endif %}

    <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
    {{ form.new_password1 }}
    <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
    {{ form.new_password2 }}
    <ul>
        <li>Mật khẩu không được giống thông tin tài khoản</li>
        <li>Mật khẩu phải có ít nhất 8 kí tự</li>
        <li>Mật khẩu không được đơn giản</li>
        <li>Mật khẩu phải có chữ và số.</li>
    </ul>
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5" type="submit" value="Change">Xác nhận
    </button>
</form>

{% endblock %}