{% load i18n %}{% autoescape off %}
{% blocktranslate %}Bạn nhận được thư này vì ban đã thay mật khẩu {{ site_name }}.{% endblocktranslate %}

{% translate "Hãy vào đường link dưới để thay mật khẩu:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Tên tài khoản:' %} {{ user.get_username }}

{% translate "Xin cảm ơn!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
