{% extends "../sub_base.html" %}
{% block title %}Đặt lại mật khẩu{% endblock %}
{% block content %}

<div class="container">
    <div>
        {% if 'email' in request.get_full_path %}
        <h3 class="mb-4">Đặt lại mật khẩu thành công</h3>
        <p>Hãy vào hộp thư để nhận hướng dẫn</p>
        {% endif%}
        {% if 'complete' in request.get_full_path %}
        <h3 class="mb-4">Đặt lại mật khẩu thành công</h3>
        <a href="{% url "account:login" %}">Đăng nhập</a>
        {% endif%}
    </div>
</div>

{% endblock %}